.mail-link {
    color: $white;
    text-decoration: none;
    font-size: 1.625em;
    font-weight: 300;
    transition: text-shadow .3s ease;

    &:hover, &:focus {
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    }
}

.container {
    @include media-breakpoint-down(sm) {
        width: auto !important;
    }
}